.container{
    width: 90vw;
    height: 80vh;
    border: 5px solid black;
}

.box{
    width: 55px;
    height: 55px;
    border: 2px solid red;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(45deg);
    /* transform: rotate(3.14turn); */
    /* transform: rotateX(40deg);
    transform: rotateY(60deg); */
    /* transform: scale(1.6); */
    /* transform: skewY(15deg); */
    /* transform-origin: 15% 30%; */
    transform: translateX(50%) translateY(75%) skew(15deg);
}