body{
    background-color: aquamarine;
}

.boxes{
    display: flex;
}

.box{
    width: 320px;
    height: 500px;
    background-color: bisque;
    padding: 5px;
    margin: 5px;
}

@media only screen and (max-width : 720px) {
    body{
        background-color: rgb(81, 216, 128);
    }
    .boxes{
        flex-direction: column;
    }
}