.container{
    border: 5px solid purple;
    display: grid;
    grid-template-areas: "nav nav nav"
                         "side article article"
                         "footer footer footer";
}
.item{
    border: 2px solid red;
    height: 55px;
    /* width: 55px; */
}

.item1{
    grid-area: nav;
    background-color: aqua;
}

.item2{
    grid-area: side;
    background-color: violet;
}
.item3{
    grid-area: article;
    background-color: palegreen;
}
.item4{
    grid-area: footer;
    background-color: palevioletred;
}
.item5{
    background-color: chartreuse;
}