@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

.bg {
    background-image: url(assets/image/background.jpg);
    /* background-position: center center; */
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: max(1200px, 100vw);
    height: 96vh;
    position: relative;
    box-shadow: 0px 0px 20px 20px black inset;

}

.bg .box {
    background-color: black;
    width: 100%;
    height: 96vh;
    opacity: 0.7;
    position: absolute;
    top: 0;

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 65vw;
    margin: auto;
    height: 88px;
}

nav img {
    position: relative;
    height: 32px;
    z-index: 1;
}

nav button, select{
    position: relative;
    z-index: 1;
}

.text {
    height: calc(100% - 88px);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 23px;
    overflow: auto;
}

.text h1 {
    font-family: "Martel Sans", sans-serif;
    font-weight: 900;
    font-style: normal;
    max-width: 700px;
    display: block;
    text-align: center;
    font-size: 3rem;
    line-height: 125%;
}

.text span {
    font-family: "Martel Sans", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 0.9rem;
    text-align: center;
}

.text h3 {
    font-family: sans-serif;  
    font-weight: 0;
    font-style: normal;
    font-size: .75rem;
    text-align: center;
}

.email{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 600px;
    margin-bottom: 5px;
}
.email input {
    background: rgba(0, 0, 0, 0.196);
    border: 1px solid gray;
    font-size: .9rem;  
    font-weight: 700;  
    padding: 1.0rem 1rem 0.6rem;
    width: 400px;
    height: 1.5em;
    border-radius: 4px;
}

.curve {
    width: 100%;
    height: 5px;
    border-bottom-left-radius: 0px; border-bottom-right-radius: 0px; border-top-left-radius: 50% 100%; border-top-right-radius: 50% 100%;
    background-image: linear-gradient(to right, rgb(33, 13, 22) 16%, rgb(184, 40, 105), rgb(229, 9, 20), rgb(184, 40, 105), rgb(33, 13, 22) 84%);
    
}

.btn{
    padding: 4px 16px;
    font-weight: bold;
    color: white;
    display: inline-flex;
    border-radius: 4px;
}
select{
    padding: 4px 6px;
    font-weight: bold;
    color: white;
    display: inline-flex;
    border-radius: 2px;
    font-size: 12px;
    background-color: rgba(255, 255, 255, 0.133);
    border: 2px solid rgb(83, 83, 83);
}

.red-si{
    background-color: rgb(229, 9, 20);
    cursor: pointer;
    border: 0;
}

.red-si:hover{
    background-color: rgb(203, 9, 18);
}

.red-gs{
    background-color: rgb(229, 9, 20);
    font-size: 20px;
    border: 0;
    height: 50px;
    align-items: center;
}

.red-gs:hover{
    background-color: rgb(203, 9, 18);
}

